<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Ui\Component\Wysiwyg\ConfigInterface">
		<plugin disabled="false" name="Magefan_WysiwygAdvanced_Plugin_Magento_Ui_Component_Wysiwyg_ConfigInterface" sortOrder="10" type="Magefan\WysiwygAdvanced\Plugin\Magento\Ui\Component\Wysiwyg\ConfigPlugin"/>
	</type>
    <type name="Magento\PageBuilder\Model\ConfigInterface">
        <plugin name="Magefan_WysiwygAdvanced_Plugin_Backend_Magento_PageBuilder_Model_ConfigInterface" type="Magefan\WysiwygAdvanced\Plugin\Magento\PageBuilder\Model\ConfigInterface" sortOrder="10" disabled="false"/>
    </type>
</config>
